a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-family:"Hiragino Sans GB",Helvetica,"Microsoft YaHei","微软雅黑","宋体"
}
h1,h2,h3,h4,h5,h6 {
	margin:10px 0;
	font-family:inherit;
	font-weight:700;
	line-height:20px;
	color:inherit;
	text-rendering:optimizelegibility
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-weight:400;
	line-height:1;
	color:#999
}
h1,h2,h3 {
	line-height:40px
}
h1 {
	font-size:38.5px
}
h2 {
	font-size:31.5px
}
h3 {
	font-size:24.5px
}
h4 {
	font-size:17.5px
}
h5 {
	font-size:14px
}
h6 {
	font-size:11.9px
}
h1 small {
	font-size:24.5px
}
h2 small {
	font-size:17.5px
}
h3 small {
	font-size:14px
}
h4 small {
	font-size:14px
}
.f12 {
	font-size:12px
}
.f13 {
	font-size:13px
}
.f14 {
	font-size:14px
}
.f15 {
	font-size:15px
}
.f16 {
	font-size:16px
}
.f18 {
	font-size:18px
}
.f20 {
	font-size:20px
}
.f22 {
	font-size:22px
}
.f24 {
	font-size:24px
}
.f26 {
	font-size:26px
}
.f28 {
	font-size:28px
}
.f30 {
	font-size:30px
}
.f32 {
	font-size:32px
}
.f36 {
	font-size:36px
}
.f40 {
	font-size:40px
}
.f44 {
	font-size:44px
}
.f48 {
	font-size:48px
}
.f52 {
	font-size:52px
}
.f56 {
	font-size:56px
}
.f60 {
	font-size:60px
}
.f64 {
	font-size:64px
}
.fw-b {
	font-weight:700
}
.fw-n {
	font-weight:400
}
.fs-i {
	font-style:italic
}
.fs-n {
	font-style:normal
}
.ti-1 {
	text-indent:1em
}
.ti-2 {
	text-indent:2em
}
.td-u {
	text-decoration:underline
}
.td-n {
	text-decoration:none
}
.tl {
	text-align:left
}
.tc {
	text-align:center
}
.tr {
	text-align:right
}
.fl {
	float:left;
	display:inline
}
.fr {
	float:right;
	display:inline
}
.cl {
	clear:left
}
.cr {
	clear:right
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clear {
	clear:both;
	font-size:0
}
.vm {
	vertical-align:middle
}
.vt {
	vertical-align:top
}
.vb {
	vertical-align:bottom
}
.pr {
	position:relative
}
.pa {
	position:absolute
}
.abs-right {
	position:absolute;
	right:0
}
.zoom {
	zoom:1
}
.rad50 {
	border-radius:50%
}
.inline {
	display:inline-block
}
.block {
	display:block
}
.hidden {
	visibility:hidden
}
.hide {
	display:none
}
.show {
	display:block
}
.m5 {
	margin:5px
}
.m10 {
	margin:10px
}
.m15 {
	margin:15px
}
.m20 {
	margin:20px
}
.m25 {
	margin:25px
}
.m30 {
	margin:30px
}
.m35 {
	margin:35px
}
.m40 {
	margin:40px
}
.m45 {
	margin:45px
}
.m50 {
	margin:50px
}
.m55 {
	margin:55px
}
.m60 {
	margin:60px
}
.m65 {
	margin:65px
}
.m70 {
	margin:70px
}
.bc {
	margin-left:auto;
	margin-right:auto
}
.elli {
	overflow:hidden;
	text-overflow:ellipsis;
	zoom:1;
	white-space:nowrap
}
a {
	-webkit-tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent
}
@-webkit-keyframes Loop {
	0% {
	-webkit-transform:translateX(0)
}
25% {
	-webkit-transform:translateX(25%)
}
75% {
	-webkit-transform:translateX(-25%)
}
100% {
	-webkit-transform:translateX(0)
}
}@-webkit-keyframes swing {
	100%,20%,40%,60%,80% {
	-webkit-transform-origin:top center
}
20% {
	-webkit-transform:rotate(15deg)
}
40% {
	-webkit-transform:rotate(-10deg)
}
60% {
	-webkit-transform:rotate(5deg)
}
80% {
	-webkit-transform:rotate(-5deg)
}
100% {
	-webkit-transform:rotate(0)
}
}@-moz-keyframes swing {
	100%,20%,40%,60%,80% {
	-moz-transform-origin:top center
}
20% {
	-moz-transform:rotate(15deg)
}
40% {
	-moz-transform:rotate(-10deg)
}
60% {
	-moz-transform:rotate(5deg)
}
80% {
	-moz-transform:rotate(-5deg)
}
100% {
	-moz-transform:rotate(0)
}
}@-webkit-keyframes light {
	0% {
	opacity:1
}
50% {
	opacity:.35
}
100% {
	opacity:1
}
}@-moz-keyframes light {
	0% {
	opacity:1
}
50% {
	opacity:.35
}
100% {
	opacity:1
}
}.Ani {
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear
}
.Ani.dlong {
	-webkit-animation-duration:4s;
	animation-duration:4s
}
.Ani.mlong {
	-webkit-animation-duration:1.5s;
	animation-duration:1.5s
}
.Ani.long {
	-webkit-animation-duration:2s;
	animation-duration:2s
}
.Ani.mdlong {
	-webkit-animation-duration:6s;
	animation-duration:6s
}
.Ani.ddlong {
	-webkit-animation-duration:8s;
	animation-duration:8s
}
.Ani.mddlong {
	-webkit-animation-duration:10s;
	animation-duration:10s
}
.Ani.short {
	-webkit-animation-duration:.5s;
	animation-duration:.5s
}
.Ani.sshort {
	-webkit-animation-duration:.2s;
	animation-duration:.2s
}
.Ani.infi {
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite
}
.Ani.alte {
	-webkit-animation-direction:alternate;
	-moz-animation-direction:alternate
}
.Ani.Ani-swing {
	-webkit-animation:swing 1s .2s ease both;
	-moz-animation:swing 1s .2s ease both
}
.Ani.Ani-loop {
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:Loop;
	backface-visibility:visible!important;
	animation-name:Loop
}
.Ani.Ani-light {
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:light;
	backface-visibility:visible!important;
	animation-name:light
}
@-webkit-keyframes scale {
	0% {
	transform:scale(.2145);
	-webkit-transform:scale(.2245)
}
100% {
	transform:scale(.2145);
	-webkit-transform:scale(.2245)
}
}.Ani.Ani-scale {
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:scale;
	backface-visibility:visible!important;
	animation-name:scale
}
@-webkit-keyframes scale-light {
	0% {
	transform:scale(1);
	-webkit-transform:scale(1);
	opacity:1
}
30% {
	transform:scale(1);
	-webkit-transform:scale(1.3);
	opacity:1
}
100% {
	transform:scale(.5);
	-webkit-transform:scale(.5);
	opacity:.2
}
}@-moz-keyframes scale-light {
	0% {
	transform:scale(1);
	-moz-transform:scale(1);
	opacity:1
}
0% {
	transform:scale(1);
	-moz-transform:scale(1);
	opacity:1
}
100% {
	transform:scale(.5);
	-moz-transform:scale(.5);
	opacity:.2
}
}.Ani.Ani-scale-light {
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:scale-light;
	backface-visibility:visible!important;
	animation-name:scale-light
}
@-webkit-keyframes floating {
	0% {
	transform:translateX(0) translateY(0);
	-webkit-transform:translateX(0) translateY(0);
	opacity:1
}
100% {
	transform:translateX(-20px) translateY(20px);
	-webkit-transform:translateX(-20px) translateY(20px);
	opacity:.75
}
}@-moz-keyframes floating {
	0% {
	transform:translateX(0) translateY(0);
	-moz-transform:translateX(0) translateY(0);
	opacity:1
}
100% {
	transform:translateX(-20px) translateY(20px);
	-moz-transform:translateX(-20px) translateY(20px);
	opacity:.75
}
}.Ani.Ani-floating {
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:floating;
	backface-visibility:visible!important;
	animation-name:floating
}
@-webkit-keyframes hand {
	0% {
	-webkit-transform:rotate(20deg)
}
100% {
	-webkit-transform:rotate(-12deg)
}
}.Ani.Ani-hand {
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:hand;
	backface-visibility:visible!important;
	animation-name:hand
}
@-webkit-keyframes updown {
	0% {
	-webkit-transform:translateY(0);
	opacity:1
}
100% {
	-webkit-transform:translateY(15px);
	opacity:.35
}
}.Ani.Ani-updown {
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:updown;
	backface-visibility:visible!important;
	animation-name:updown
}
@-webkit-keyframes toright {
	0% {
	-webkit-transform:translateX(0)
}
100% {
	-webkit-transform:translateX(10px)
}
}.Ani.Ani-toright {
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:toright;
	backface-visibility:visible!important;
	animation-name:toright
}
@-webkit-keyframes toleft {
	0% {
	-webkit-transform:translateX(0)
}
100% {
	-webkit-transform:translateX(-10px)
}
}.Ani.Ani-toleft {
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:toleft;
	backface-visibility:visible!important;
	animation-name:toleft
}
.dobj,.o,.obj {
	position:absolute;
	transform-origin:center center;
	-webkit-transform-origin:center center;
	-moz-transform-origin:center center;
	-ms-transform-origin:center center;
	-o-transform-origin:center center
}
.dobj.def,.obj.def {
	visibility:visible
}
.obj-bg {
	background-position:center center;
	background-repeat:no-repeat
}
.obj-c {
	left:50%;
	top:50%
}
.none {
	display:none
}
.perspective {
	perspective:500;
	-webkit-perspective:500
}
.ani {
	visibility:hidden
}
.anim {
	visibility:hidden
}
.pa {
	position:absolute
}
body,html {
	height:100%;
	width:100%;
	background:#fff;
	overflow:hidden
}
.container {
	width:100%;
	overflow:hidden;
	height:100%
}
a {
	text-decoration:none
}
body {
	background:#000
}
.main .body {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	display:block;
	overflow:hidden
}
.main .view {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	display:block;
	overflow:hidden
}
.main .sbg,.main .vbg {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	display:block
}
.section {
	height:100%;
	width:100%;
	display:none;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0
}
.section.def {
	display:block
}
.vload {
	z-index:10
}
.vload .sbg {
	background:center no-repeat;
	background-image:url(../images/bg.jpg);
	background-size:cover
}
.vload .load {
	position:absolute;
	width:100%;
	height:100%
}
.vload .num {
	width:78px;
	height:90px;
	display:inline-block;
	background:center no-repeat;
	background-image:url(../images/loading.png);
	background-position:1178px 1190px
}
.vload .num.num0 {
	background-position:0 0
}
.vload .num.num1 {
	background-position:-78px 0
}
.vload .num.num2 {
	background-position:-156px 0
}
.vload .num.num3 {
	background-position:-234px 0
}
.vload .num.num4 {
	background-position:-312px 0
}
.vload .num.num5 {
	background-position:0 -90px
}
.vload .num.num6 {
	background-position:-78px -90px
}
.vload .num.num7 {
	background-position:-156px -90px
}
.vload .num.num8 {
	background-position:-234px -90px
}
.vload .num.num9 {
	background-position:-312px -90px
}
.vload .num.numt {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-45px;
	margin-top:-90px
}
.vload .num.numh {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-100px;
	margin-top:-90px
}
.vload .num.numt {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-45px;
	margin-top:-90px
}
.vload .num.numu {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:0;
	margin-top:-65px;
	transform:scale(.7);
	-webkit-transform:scale(.7);
	-moz-transform:scale(.7);
	opacity:.75
}
.vstage {
	z-index:1
}
.vstage .debug {
	padding:20px;
	font-size:20px;
	display:inline-block;
	position:absolute;
	right:30px;
	bottom:30px;
	z-index:100;
	color:#fff;
	background:rgba(255,255,255,.5)
}
.vvideo .sbg {
	background:center no-repeat;
	background-image:url(../images/video/bg.jpg);
	background-size:cover
}
.vvideo .tip {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:10
}
.vvideo .txt {
	width:357px;
	height:69px;
	margin-left:-178.5px;
	margin-top:-34.5px;
	position:absolute;
	left:50%;
	top:50%;
	background:center no-repeat;
	background-image:url(../images/1/txt1.png)
}
.vvideo .arrow {
	display: none;
	width:20px;
	height:30px;
	margin-left:-10px;
	margin-top:-15px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:110px;
	background:center no-repeat;
	background-image:url(../images/1/arrow.png)
}
.vvideo .arrow.a1 {
	background-position:0 0
}
.vvideo .arrow.a2 {
	background-position:-20px 0
}
.vvideo .arrow.a3 {
	background-position:-40px 0
}
.vvideo video {
	position:absolute
}
.vend {
	z-index:0
}
.vend .sbg {
	background:center no-repeat;
	background-image:url(../images/end/bg.jpg);
	background-size:cover
}
.vend.android .sbg {
	background-image:url(../images/end/bg1.jpg)
}
.vend .logo {
	width:97px;
	height:27px;
	position:absolute;
	left:30px;
	top:30px;
	background:center no-repeat;
	background-image:url(../images/end/logo.png)
}
.vend .vs {
	width:192px;
	height:202px;
	margin-left:-96px;
	margin-bottom:-101px;
	position:absolute;
	left:50%;
	top:35px;
	background:center no-repeat;
	background-image:url(../images/end/vs.png)
}
.vend .txt {
	width:308px;
	height:183px;
	margin-left:-154px;
	margin-bottom:-91.5px;
	position:absolute;
	left:50%;
	bottom:20.98%;
	background:center no-repeat;
	background-image:url(../images/end/txt.png)
}
.vend .btn {
	width:380px;
	height:106px;
	margin-left:-190px;
	margin-bottom:-53px;
	position:absolute;
	left:50%;
	bottom:8.29%;
	background:center no-repeat;
	background-image:url(../images/end/btn.png)
}
.vend .restart {
	width:135px;
	height:56px;
	margin-left:-67.5px;
	margin-bottom:-28px;
	position:absolute;
	left:88.53%;
	bottom:8.29%;
	background:center no-repeat;
	background-image:url(../images/end/restart.png)
}
.alert {
	z-index:100;
	display:block;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	background:rgba(0,0,0,.9);
	top:35%;
	padding:20px 30px;
	font-size:24px;
	line-height:1;
	color:#fff
}
.pop {
	width:100%;
	height:100%;
	position:fixed;
	z-index:100;
	left:0;
	top:0
}
.pop .mask {
	width:100%;
	height:100%;
	background:rgba(0,0,0,.65)
}
.pop-share .tip {
	width:454px;
	height:340px;
	background:url(../images/shareText.png) center no-repeat;
	position:absolute;
	right:20px;
	top:20px;
	display:block
}
.pop-tip .mask {
	background:rgba(0,0,0,.95)
}
.pop-tip .tip {
	width:198px;
	height:204px;
	margin-left:-99px;
	margin-top:-102px;
	position:absolute;
	left:50%;
	top:50%;
	background:url(../images/tip.png) center no-repeat;
	background-size:50%
}
.music {
	width:90px;
	height:90px;
	position:absolute;
	right:0;
	top:0;
	z-index:10
}
.music.close span {
	opacity:.3
}
.music span {
	width:24px;
	height:28px;
	margin-left:-12px;
	margin-top:-14px;
	position:absolute;
	left:50%;
	top:50%;
	background:url(../images/music.png) 0 0 no-repeat
}



#form{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: red;
	z-index: -999;
	opacity: 0;
	transition:all 0.1s cubic-bezier(.215,.61,.355,1);
	background: url(../img/formbg.jpg)no-repeat;
}

.dyzy{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

.ccbut{
	width: 7.066667rem;
	top: 11.8rem;
}

.form_tc{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #0f0908;
	display: none;
}

.kgjb{
	width: 7.546667rem;
	top: 1.266667rem;
}

#tj{
	width: 7.066667rem;
	top: 12.986667rem;
}

#fh{
	width: 7.066667rem;
	top: 14.266667rem;
}

.lbl{
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 0.72rem;
	font-size: 0.32rem;
	color: #bcb093;
	font-family: "Arial"
}

.xx{
	position: absolute;
    top: 50%;
    -webkit-transform:translate(0,-50%);
    width: 0.346667rem;
    right: 1.12rem;
}

.cro{
	background: red;
	border: 2px solid green;
}

.fx{width: 100%;height: 100%;z-index: 9999;}

#yssa{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999999999999;
}

.guang3{
	width: 1800%;
	z-index: 999999999999;
	-webkit-transition:width 1s  cubic-bezier(.215,.61,.355,1);
	transition:width 1s  cubic-bezier(.215,.61,.355,1);
	z-index: -99999999999;
}

.arow{
	top: 9.3rem;
	width: 0.266667rem;
	z-index: 99;
	-webkit-animation: ud 2s cubic-bezier(.215,.61,.355,1) infinite;
	animation: ud 2s cubic-bezier(.215,.61,.355,1) infinite;
}

.cxjy{
	width: 7.066667rem;
	top: 13.3rem;
}